<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p><strong>All the reviews:</strong></p>
<% @restaurant.reviews.each do |review| %>

<p>Description: <%= review.content %></p>
<p>Rating: <%= review.rating %></p>
<% end %>
<br>
<br>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
<br>
<%= link_to 'New Review', new_restaurant_review_path(@restaurant) %> |
<%= link_to 'Destroy', review_path, method: :delete, data: { confirm: "Are you sure?" } %>
